
.content{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 50px 0px 0 20%;
    padding:20px 0 20px 0;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #a8d4ee;
}
.content .item-left img{
    margin-right: 50px;
}

.buy button:hover{
    background-color: #d4e9f5;
}


